<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <form
            [formGroup]="loginForm"
            (ngSubmit)="submit()"
            name="form" class="box"
            data-testid="form-login"
            autocomplete='off'
          >
            <h1>Login</h1>
            <p class="text-muted"> Please enter your login and password!</p>

            <input type="email" placeholder="Email"
                   formControlName="email"
                   aria-label="Email Input"
                   name="email"
                   required
            >

            <input type="password" placeholder="Password"
                   formControlName="password"
                   aria-label="Pass Input"
                   name="password"
                   required
                   data-testid="password-input"
                   [attr.aria-invalid]="loginForm.controls['email'].invalid"
            >
            <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)"
                 style='color: #BD3518; margin-bottom: 10px'>
              <div *ngIf="loginForm.controls['email']?.errors?.required">
                Please enter email
              </div>
              <div *ngIf="loginForm.controls['email']?.errors?.email">
                Please enter a valid email
              </div>
            </div>

            <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
                 style='color: #BD3518; margin-bottom: 10px'>
              <div *ngIf="loginForm.controls['password']?.errors?.required">
                Please enter password
              </div>
              <div *ngIf="loginForm.controls['password']?.errors?.minlength">
                The minimum length is 6
              </div>
              <div *ngIf="loginForm.controls['password']?.errors?.maxlength">
                The maximum length is 40
              </div>
            </div>
            <a class="forgot text-muted" href="#">Forgot password?</a>

            <input type="submit" name="" value="Login" href="#">
            <div class="col-md-12">
              <ul class="social-network social-circle">
                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</section>
